<!-- Navigation bar -->
<nav class="navbar">
    <div class="container">
        <!-- Logo -->
        <div class="pull-left">
            <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

            <div class="logo-wrapper">
                <a class="logo" [routerLink]="['Home']"><img src="app/Assets/img/logo.png" alt="logo"></a>
                <a class="logo-alt" [routerLink]="['Home']"><img src="app/Assets/img/logo-alt.png" alt="logo-alt"></a>
            </div>

        </div>
        <!-- END Logo -->
     
        
        <!-- User account -->
        <div class="pull-right user-login">
            <a class="btn btn-sm btn-primary" [routerLink]="['Login']">Login</a> or <a href="user-register.html">register</a>           
        </div>
        <!-- END User account -->

        <!-- Navigation menu -->
        <ul class="nav-menu">
            <li>
                <a class="active" [routerLink]="['Home']">{{ 'HOME' | translate }}</a>            
            </li>
            <li>
                <a [routerLink]="['Product']">{{ 'BROWSE_JOB' | translate }}</a>          
            </li>
            <li>
                <a href="#">{{ 'RESUME' | translate }}</a>
            <ul>
                <li><a href="resume-list.html">Browse resumes</a></li>
                <li><a href="resume-manage.html">Manage resumes</a></li>
            </ul>
            </li>
            <li>
                <a href="#">{{ 'COMPANY' | translate }}</a>
                <ul>
                    <li><a href="company-list.html">Browse companies</a></li>              
                    <li><a href="company-manage.html">Manage companies</a></li>
                </ul>
            </li> 
            <li class="language-swicher">
                <a>
                    <img [src]="'LANGUAGE_FLAG' | translate" alt="flag-en">
                 </a>
                <ul>
                    <li (click)="changeLanguage('en')">     
                        <a>                   
                            <img src="app/Assets/img/flag/en.png" alt="flag-en">
                            {{ 'ENGLISH' | translate }}    
                        </a>                    
                    </li>              
                    <li (click)="changeLanguage('vi')">
                        <a>
                           <img src="app/Assets/img/flag/vi.png" alt="flag-en" /> 
                            {{ 'VIETNAMESE' | translate}}
                        </a>
                    </li> 
                </ul>
            </li> 
       </ul>
       <!-- END Navigation menu -->
    </div>
</nav>
<!-- END Navigation bar -->
