<!-- Navigation bar -->
<nav class="navbar">
    <div class="container">
        <!-- Logo -->
        <div class="pull-left">
            <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

            <div class="logo-wrapper">
                <a class="logo" [routerLink]="['Home']"><img src="app/Assets/img/logo.png" alt="logo"></a>
                <a class="logo-alt" [routerLink]="['Home']"><img src="app/Assets/img/logo-alt.png" alt="logo-alt"></a>
            </div>

        </div>
        <!-- END Logo -->

        <!-- User account -->
        <div class="pull-right user-login">
            <a class="btn btn-sm btn-primary" href="user-login.html">Login</a> or <a href="user-register.html">register</a>
            <lang-switcher></lang-switcher>
        </div>
        <!-- END User account -->

        <!-- Navigation menu -->
        <ul class="nav-menu">
            <li>
                <a class="active" [routerLink]="['Home']">Home</a>            
            </li>
            <li>
                <a [routerLink]="['Product']">Browse jobs</a>          
            </li>
            <li>
                <a href="#">Resume</a>
            <ul>
                <li><a href="resume-list.html">Browse resumes</a></li>
                <li><a href="resume-manage.html">Manage resumes</a></li>
            </ul>
            </li>
            <li>
                <a href="#">Company</a>
                <ul>
                    <li><a href="company-list.html">Browse companies</a></li>              
                    <li><a href="company-manage.html">Manage companies</a></li>
                </ul>
            </li>       
       </ul>
       <!-- END Navigation menu -->
    </div>
</nav>
<!-- END Navigation bar -->
