<!-- Page header -->
    <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner1.jpg)">
      <div class="container no-shadow">
        <h1 class="text-center">Manage companies</h1>
        <p class="lead text-center">Here's the list of your registered companies. You can edit or delete them, or even add a new one.</p>
      </div>
    </header>
    <!-- END Page header -->


    <!-- Main container -->
    <main>
      <section class="no-padding-top bg-alt">
        <div class="container">
          <div class="row item-blocks-condensed">

            <div class="col-xs-12 text-right">
              <br>
              <a class="btn btn-primary btn-sm" href="company-add.html">Add new company</a>
            </div>


            <!-- Company item -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <a href="company-detail.html"><img src="assets/img/logo-google.jpg" alt=""></a>
                  <div class="hgroup">
                    <h4><a href="company-detail.html">Google</a></h4>
                    <h5>Internet and computer software <a href="company-detail.html#open-positions"><span class="label label-info">15 jobs</span></a></h5>
                  </div>
                  <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#">Delete</a>
                  </div>
                </header>
              </div>
            </div>
            <!-- END Company item -->


            <!-- Company item -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <a href="company-detail.html"><img src="assets/img/logo-facebook.png" alt=""></a>
                  <div class="hgroup">
                    <h4><a href="company-detail.html">Facebook</a></h4>
                    <h5>Internet <a href="company-detail.html#open-positions"><span class="label label-info">6 jobs</span></a></h5>
                  </div>
                  <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#">Delete</a>
                  </div>
                </header>
              </div>
            </div>
            <!-- END Company item -->


            <!-- Company item -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <a href="company-detail.html"><img src="assets/img/logo-envato.png" alt=""></a>
                  <div class="hgroup">
                    <h4><a href="company-detail.html">Envato</a></h4>
                    <h5>Internet, Web Design, Web Development <a href="company-detail.html#open-positions"><span class="label label-info">2 jobs</span></a></h5>
                  </div>
                  <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#">Delete</a>
                  </div>
                </header>
              </div>
            </div>
            <!-- END Company item -->


            <!-- Company item -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <a href="company-detail.html"><img src="assets/img/logo-microsoft.jpg" alt=""></a>
                  <div class="hgroup">
                    <h4><a href="company-detail.html">Microsoft</a></h4>
                    <h5>Computer software and hardware <a href="company-detail.html#open-positions"><span class="label label-info">7 jobs</span></a></h5>
                  </div>
                  <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#">Delete</a>
                  </div>
                </header>
              </div>
            </div>
            <!-- END Company item -->



          </div>
        </div>
      </section>
    </main>
    <!-- END Main container -->