<!-- Page header -->
    <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner1.jpg)">
      <div class="container no-shadow">
        <h1 class="text-center">Manage jobs</h1>
        <p class="lead text-center">Here's the list of your submitted jobs. You can edit or delete them, or even add a new one.</p>
      </div>
    </header>
    <!-- END Page header -->


    <!-- Main container -->
    <main>
      <section class="no-padding-top bg-alt">
        <div class="container">
          <div class="row">

            <div class="col-xs-12 text-right">
              <br>
              <a class="btn btn-primary btn-sm" href="job-add.html">Add new job</a>
            </div>


            <!-- Job detail -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <a href="company-detail.html"><img src="assets/img/logo-google.jpg" alt=""></a>
                  <div class="hgroup">
                    <h4><a href="job-detail.html">Senior front-end developer</a></h4>
                    <h5><a href="company-detail.html">Google</a></h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Menlo park, CA</span>
                    <time datetime="2016-03-10 20:00">34 min ago</time>
                  </div>
                </header>

                <footer>
                  <p class="status"><strong>Status:</strong> Pending approval</p>

                  <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#">Delete</a>
                  </div>
                </footer>
              </div>
            </div>
            <!-- END Job detail -->


            <!-- Job detail -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <a href="company-detail.html"><img src="assets/img/logo-google.jpg" alt=""></a>
                  <div class="hgroup">
                    <h4><a href="job-detail.html">Software Engineer (Entry or Senior)</a></h4>
                    <h5><a href="company-detail.html">Google</a></h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Livermore, CA</span>
                    <time datetime="2016-03-10 20:00">8 hours ago</time>
                  </div>
                </header>

                <footer>
                  <p class="status"><strong>Status:</strong> Expires on 14 April</p>

                  <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    <a class="btn btn-xs btn-success" href="#">Mark filled</a>
                    <a class="btn btn-xs btn-danger" href="#">Delete</a>
                  </div>
                </footer>
              </div>
            </div>
            <!-- END Job detail -->


            <!-- Job detail -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <a href="company-detail.html"><img src="assets/img/logo-envato.png" alt=""></a>
                  <div class="hgroup">
                    <h4><a href="job-detail.html">Full Stack Web Developer</a></h4>
                    <h5><a href="company-detail.html">Envato</a> <span class="label label-success">Filled</span></h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Menlo park, CA</span>
                    <time datetime="2016-03-10 20:00">2 days ago</time>
                  </div>
                </header>

                <footer>
                  <p class="status"><strong>Status:</strong> Closed</p>

                  <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#">Delete</a>
                  </div>
                </footer>
              </div>
            </div>
            <!-- END Job detail -->


            <!-- Job detail -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <a href="company-detail.html"><img src="assets/img/logo-facebook.png" alt=""></a>
                  <div class="hgroup">
                    <h4><a href="job-detail.html">Web Applications Developer</a></h4>
                    <h5><a href="company-detail.html">Facebook</a> <span class="label label-danger">No-one found</span></h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Lexington, MA</span>
                    <time datetime="2016-03-10 20:00">Feb 26, 2016</time>
                  </div>
                </header>

                <footer>
                  <p class="status"><strong>Status:</strong> Closed</p>

                  <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#">Delete</a>
                  </div>
                </footer>
              </div>
            </div>
            <!-- END Job detail -->


            <!-- Job detail -->
            <div class="col-xs-12">
              <div class="item-block">
                <header>
                  <a href="company-detail.html"><img src="assets/img/logo-microsoft.jpg" alt=""></a>
                  <div class="hgroup">
                    <h4><a href="job-detail.html">Sr. SQL Server Developer</a></h4>
                    <h5><a href="company-detail.html">Microsoft</a> <span class="label label-success">Filled</span></h5>
                  </div>
                  <div class="header-meta">
                    <span class="location">Palo Alto, CA</span>
                    <time datetime="2016-03-10 20:00">Feb 16, 2016</time>
                  </div>
                </header>

                <footer>
                  <p class="status"><strong>Status:</strong> Closed</p>

                  <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    <a class="btn btn-xs btn-danger" href="#">Delete</a>
                  </div>
                </footer>
              </div>
            </div>
            <!-- END Job detail -->

          </div>
        </div>
      </section>
    </main>
    <!-- END Main container -->