/* START :: Language swicher*/
.language-swicher {    
    img {
        width: 25px;
    }        
}
/* END :: Language swicher*/


/* START :: preload*/
.preload {
    height: 100vh;
    display: flex;
    .spinner {
        align-items: center;
        display: flex;
        & > span {
            margin-left: 2px;
            margin-right: 2px;
        }
    }
}
/* START :: preload */