<div class="container" *ngIf="jobCategories && jobCategories.length">
    <header class="section-header">
        <span>Categories</span>
        <h2>Popular categories</h2>
        <p>Here's the most popular categories</p>
    </header>

    <div class="category-grid">
        <a href="job-list-1.html" *ngFor="#jobCategory of jobCategories | categoryFilter">
            <i [class]="jobCategory.category_icon"></i>
            <h6>{{ jobCategory.category_name }}</h6>
            <p>{{ jobCategory.category_description }}</p>
        </a>

        <!--<a href="job-list-2.html">
            <i class="fa fa-line-chart"></i>
            <h6>Accounting</h6> 
               *ngClass="jobCategory.category_icon"
            <p>Finance, Tax service, Payroll manager, Book keeper, Human resource</p>
        </a>

        <a href="job-list-3.html">
            <i class="fa fa-medkit"></i>
            <h6>Medical</h6>
            <p>Doctor, Nurse, Hospotal, Dental service, Massagist</p>
        </a>

        <a href="job-list-1.html">
            <i class="fa fa-cutlery"></i>
            <h6>Food</h6>
            <p>Restaurant, Food service, Coffe shop, Cashier, Waitress</p>
        </a>

        <a href="job-list-2.html">
            <i class="fa fa-newspaper-o"></i>
            <h6>Media</h6>
            <p>Journalism, Newspaper, Reporter, Writer, Cameraman</p>
        </a>

        <a href="job-list-3.html">
            <i class="fa fa-institution"></i>
            <h6>Government</h6>
            <p>Federal, Law, Human resource, Manager, Biologist</p>
        </a> -->
    </div>

</div>