<div class="container" *ngIf="jobCategories && jobCategories.length">
    <header class="section-header">
        <span>Categories</span>
        <h2>Popular categories</h2>
        <p>Here's the most popular categories</p>
    </header>

    <div class="category-grid">
        <a href="job-list-1.html" *ngFor="let jobCategory of jobCategories | categoryFilter:getLang()">
            <i [class]="jobCategory.category_icon"></i>
            <h6>{{ jobCategory.category_name }}</h6>
            <p>{{ jobCategory.category_description }}</p>
        </a>       
    </div>
</div>